
{# templates/navbar.html.twig #}
<!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow" id="navbar_index">


                    <!-- Brand -->
                    <a class="navbar-brand d-flex flex-column justify-content-center" href="{{ path('index') }}">
                        <div class="navbar-brand-icon">
                            <img src="img\LogoWeb.png" alt="Logo">
                        </div>
                    </a>


                    <!-- Topbar Search -->

                    <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-5 my-2 my-md-0 mw-100 navbar-search"
                        action="#" method="GET">
                        <div class="input-group">
                            <input type="text" class="form-control bg-light border-0 small"
                                placeholder="Buscar curso..." aria-label="Search" aria-describedby="basic-addon2"
                                name="keyword">
                            <div class="input-group-append">
                                <button class="btn btn-primary" type="submit">
                                    <i class="fas fa-search fa-sm"></i>
                                </button>
                            </div>
                        </div>
                    </form>


                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">


                        <!-- Nav Item - Search Dropdown (Visible Only XS) -->

                        <li class="nav-item dropdown no-arrow d-sm-none">

                            <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-search fa-fw"></i>
                            </a>

                            <!--Dropdown - Messages -->
                            <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                                aria-labelledby="searchDropdown">
                                <form class="form-inline mr-auto w-100 navbar-search" action="#" method="GET">
                                    <div class="input-group">
                                        <input type="text" class="form-control bg-light border-0 small"
                                            placeholder="Buscar curso..." aria-label="Buscar"
                                            aria-describedby="basic-addon2" name="keyword">
                                        <div class="input-group-append">
                                            <button class="btn btn-primary" type="submit">
                                                <i class="fas fa-search fa-sm"></i>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </li>



                        <!-- Nav Item - LogIn -->
                        <div class="topbar-divider d-none d-sm-block"></div>
                        <li class="nav-item no-arrow  d-none d-sm-flex align-items-center">
                            <a class="collapse-item" href="{{ path('pagina_login') }}" id="login">
                                <i class="fas fa-user mr-2"></i> Iniciar sesión
                            </a>
                        </li>

                        <!-- Nav Item - LogIn (Visible Only XS) -->
                        <div class="topbar-divider d-block d-sm-none"></div>
                        <li class="nav-item no-arrow d-sm-none mt-4">
                            <a class="collapse-item" href="{{ path('pagina_login') }}" id="loginXS">
                                <i class="fas fa-user mr-2"></i>
                            </a>
                        </li>
                    </ul>

                </nav>
                <!-- End of Topbar -->
